.main {
  padding: 40px 0 230px;
  background: url(../img/bg_main.png) center/cover no-repeat; }
  .main__subtitle {
    display: block;
    margin-top: 150px;
    text-align: center;
    font: 4.5rem "Kaushan Script", serif;
    color: #ffffff; }
  .main__title {
    display: block;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font: bold 9.4rem "Montserrat", serif;
    color: #ffffff; }
  .main__line {
    display: block;
    margin: 73px auto 0;
    background-color: #ffffff;
    width: 50px;
    height: 3px; }
  .main__button {
    display: block;
    margin: 50px auto;
    width: 160px;
    height: 40px;
    background: none;
    border: 3px solid #ffffff;
    font: bold 0.9rem "Montserrat", serif;
    color: #ffffff;
    text-transform: uppercase; }
    .main__button:hover {
      border: none;
      background: #ffffff;
      color: #eec688; }

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  .header__logo {
    font: bold 1.9rem "Montserrat", serif;
    text-decoration: none;
    color: #ffffff; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav__item {
    margin-left: 50px; }
    .nav__item :hover {
      border-bottom: 2px solid #fce38a;
      color: #fce38a; }
  .nav__link {
    font: bold 0.8rem "Montserrat", serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none; }

.pageTitle {
  margin-top: 90px; }
  .pageTitle__subtitle {
    display: block;
    text-align: center;
    font: 1.5rem "Kaushan Script", serif;
    color: #333333; }
  .pageTitle__title {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font: bold 1.9rem "Montserrat", serif;
    color: #333333; }
  .pageTitle__line {
    display: block;
    margin: 30px auto 0;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f38181; }

.story__text {
  display: block;
  margin-top: 45px;
  text-align: center;
  font: 1rem "Roboto", serif;
  color: #999999; }

.story__containerImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  margin: 100px auto 0; }

.story__image {
  width: 100%;
  max-width: 380px;
  height: 250px;
  margin-top: 10px;
  background: url(../img/img2_story.png) center/cover; }
  .story__image:hover {
    background: linear-gradient(to top, rgba(231, 131, 128, 0.6), rgba(234, 209, 131, 0.6)), url(../img/img2_story.png) center/cover; }

.score {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 250px;
  margin: 100px auto 0;
  background: #95e1d3; }
  .score__item {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .score__number {
    font: bold 4.5rem "Montserrat", serif;
    text-align: center;
    color: #ffffff; }
  .score__text {
    font: 0.85rem "Montserrat", serif;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 270px;
  width: 100%;
  margin-top: 15px; }
  .content__text {
    display: block;
    margin-top: 20px;
    font: 0.7rem "Roboto", Serif;
    color: #999999; }
  .content__title {
    display: block;
    font: bold 0.8rem "Montserrat", Serif;
    text-transform: uppercase;
    color: #000; }
  .content__wrap {
    margin-left: 30px; }
  .content__line {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background-color: #e5e5e5; }

.services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1150px;
  width: 100%;
  margin: 50px auto; }

.devices {
  background: url("../img/bg_white.png") top/cover no-repeat;
  padding: 1px 0 650px; }

.service__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1150px;
  width: 100%;
  margin: 85px auto 0; }

.service__text {
  display: block;
  margin-top: 45px;
  font: 0.7rem "Roboto", Serif;
  color: #999999;
  text-align: center; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 550px;
  width: 100%; }
  .container__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 15px; }
  .container__text {
    margin-left: 15px;
    font: bold 0.8rem "Montserrat", serif;
    text-transform: uppercase; }

.reviews {
  margin-top: 120px;
  padding: 70px 0;
  background: #f8f8f8; }
  .reviews__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; }
    .reviews__content_earle {
      margin: 100px auto; }

.reviewsWrap__text {
  font: italic 1.5rem "Roboto", serif;
  color: #a7a7a7; }

.signature {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-top: 20px; }
  .signature__line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    border: none; }
  .signature__name {
    margin-left: 10px;
    font: 1.5rem "Kaushan Script", Serif; }

.team__text {
  display: block;
  margin-top: 45px;
  font: 0.7rem "Roboto", Serif;
  color: #999999;
  text-align: center; }

.team__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px; }

.team__block {
  display: flex;
  flex-direction: column; }

.team__image {
  width: 380px;
  height: 470px;
  background: url("../img/img_team.png"); }
  .team__image:hover .team__items {
    display: flex;
    justify-content: space-around;
    flex-direction: row; }

.team__items {
  display: none;
  width: 220px;
  margin: 85% auto 0; }

.team__icon {
  width: 56px;
  height: 56px;
  margin-left: 2px;
  border-radius: 5px;
  background-color: #fce38a;
  text-align: center; }
  .team__icon:hover {
    background-color: #f38181; }
    .team__icon:hover .faTeam {
      color: #ffffff; }

.team__name {
  margin-top: 30px;
  text-align: center;
  font: bold 0.8rem "Montserrat", Serif;
  text-transform: uppercase; }

.team__position {
  margin-top: 10px;
  text-align: center;
  font: 0.8rem "Roboto", Serif;
  color: #a0a0a0; }

.faTeam {
  color: #f38181;
  margin-top: 20%; }

.fa__contacts {
  color: #95e1d3;
  margin: 30px; }

.brends {
  margin-top: 115px;
  padding: 60px 5%;
  background-color: #f8f8f8; }
  .brends__image {
    margin: 0 auto; }

.work__wrap {
  margin-top: 100px; }

.work__text {
  display: block;
  margin-top: 45px;
  font: 0.7rem "Roboto", Serif;
  color: #999999;
  text-align: center; }

.clients {
  padding: 5px 0 120px;
  background: url("../img/bg__clients.png") center/cover no-repeat; }
  .clients__wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 85px; }

.human {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .human__content {
    display: flex;
    flex-direction: column;
    margin-left: 30px; }
  .human__name {
    font: bold 0.85rem "Montserrat", Serif;
    color: #000000; }
  .human__position {
    margin-top: 10px;
    font: 0.9rem "Roboto", Serif;
    color: #777777; }
  .human__line {
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f38181; }
  .human__text {
    font: 0.9rem "Roboto", Serif;
    color: #777777; }

.contacts__map {
  width: 50%;
  height: 300px; }

.contacts__wrap {
  display: flex;
  flex-direction: row;
  margin-top: 100px; }

.contacts__content {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.contacts__telephone {
  font: 1.2rem "Montserrat", Serif; }

.contacts__email {
  font: 1.2rem "Montserrat", Serif; }

.contacts__address {
  font: 1.2rem "Montserrat", Serif; }
