.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 270px;
  width: 100%;
  margin-top: 15px;

  &__text {
    display: block;
    margin-top: 20px;
    font: 0.7rem "Roboto", Serif;
    color: #999999;
  }

  &__title {
    display: block;
    font: bold 0.8rem "Montserrat", Serif;
    text-transform: uppercase;
    color: #000;
  }

  &__wrap {
    margin-left: 30px;
  }

  &__line {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background-color: #e5e5e5;
  }
}