.human {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  &__name {
    font: bold 0.85rem "Montserrat", Serif;
    color: #000000;
  }

  &__position {
    margin-top: 10px;
    font: 0.9rem "Roboto", Serif;
    color: #777777;
  }

  &__line {
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f38181;
  }

  &__text {
    font: 0.9rem "Roboto", Serif;
    color: #777777;
  }
}