.pageTitle {
    margin-top: 90px;

    &__subtitle {
        display: block;
        text-align: center;
        font: 1.5rem "Kaushan Script", serif;
        color: #333333;
    }

    &__title {
        display: block;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font: bold 1.9rem "Montserrat", serif;
        color: #333333;
    }

    &__line {
        display: block;
        margin: 30px auto 0;
        width: 60px;
        height: 3px;
        border: none;
        background-color: #f38181;
    }
}