.service {

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1150px;
    width: 100%;
    margin: 85px auto 0;
  }

  &__text {
    display: block;
    margin-top: 45px;
    font: 0.7rem "Roboto", Serif;
    color: #999999;
    text-align: center;

  }
}