.main {
  width: 100%;
  background-position: center;
  background-image: url(../img/background_header.png);
  background-size: cover; }
  .main-content {
    padding-top: 265px;
    padding-bottom: 111px;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    text-align: center; }
    .main-content__button {
      display: block;
      width: 202px;
      margin: 55px auto;
      padding: 24px 35px;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      border: 2px solid #fff; }
    .main-content__h1 {
      display: block;
      padding-top: 52px; }
    .main-content__h2 {
      display: block;
      font-size: 30px;
      color: #ffffff;
      letter-spacing: 12px;
      text-align: center; }
      .main-content__h2_size_m {
        display: block;
        padding-top: 52px;
        font-size: 30px;
        color: #ffffff;
        text-align: center; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1173px;
  margin: 0 auto;
  padding-top: 53px; }

.logo__text {
  font-size: 48px;
  color: red; }
  .logo__text_size_m {
    font-size: 36px;
    color: red; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 680px; }
  .nav__item {
    display: inline; }
  .nav__link {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff; }

.products__title {
  display: block;
  font-size: 40px;
  text-align: center;
  color: #333333; }

.products__line {
  margin: 60px auto 28px;
  border-color: red; }
  .products__line_down {
    margin: 28px auto 0;
    border-color: red; }

.products__content {
  width: 1173px;
  margin: 0 auto 50px;
  padding-top: 60px;
  text-align: center; }

.image-top {
  display: flex;
  justify-content: space-between;
  width: 1173px; }

.image-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 1173px; }

.items {
  width: 100%;
  padding-top: 60px;
  background-image: url(../img/img_sectione2_background.png);
  background-size: cover;
  background-position: center; }
  .items-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1173px;
    margin: 60px auto 0;
    padding-bottom: 132px; }

.wrap {
  width: 572px; }
  .wrap__title {
    display: block;
    margin-top: 30px;
    font-size: 30px;
    color: red; }
  .wrap__p {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    color: #9e9e9e; }
    .wrap__p_bold {
      font-weight: bold; }
    .wrap__p_uppercase {
      text-transform: uppercase; }
    .wrap__p_second {
      margin: 0; }
  .wrap__line {
    margin-top: 30px; }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 132px;
  margin-top: 93px; }

.top {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .top__button {
    width: 70px;
    height: 51px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    border: 1px solid #333333;
    background: none; }

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .bottom__button {
    display: block;
    width: 170px;
    height: 51px;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    border: 1px solid #333333;
    background: none; }
    .bottom__button_read-more {
      margin-top: 67px; }
    .bottom__button_submit {
      width: 270px;
      background: #fff; }

.content__title {
  display: block;
  margin-top: 32px;
  font-size: 30px;
  color: red; }

.content__p {
  display: block;
  margin-top: 31px;
  font-size: 18px;
  color: #9a9a9a; }

.content__line {
  margin-top: 32px; }

.text {
  display: flex;
  justify-content: space-between;
  width: 178px;
  margin-top: 32px; }
  .text__name {
    font-size: 16px;
    color: #9a9a9a; }
  .text__line {
    height: 17px;
    width: 1px;
    border-right: 1px solid #9a9a9a; }

.blog-wrap {
  display: flex;
  justify-content: space-between;
  width: 1171px;
  margin: 66px auto; }

.footer {
  width: 100%;
  padding: 75px 0 80px 0;
  background-image: url(../img/imd_sectione4_background.png);
  background-size: cover;
  background-position: center; }
  .footer__title {
    display: block;
    margin-left: 75px;
    font-size: 18px;
    color: #fff; }

.mail {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 0 75px;
  width: 1000px; }
  .mail__text {
    width: 686px;
    height: 51px;
    padding-left: 20px;
    font-size: 13px;
    color: #fff;
    background: none;
    border: 1px solid #fff; }

@media (max-width: 1024px) {
  .header {
    width: 100%; }
  .logo__text {
    font-size: 30px;
    margin-left: 10%; }
  .main-content__h2 {
    font-size: 20px;
    letter-spacing: 10px; }
  .main-content__h1 {
    font-size: 30px; }
  .products__content {
    width: 100%;
    height: auto;
    display: block; }
  .image-top {
    width: 100%;
    height: auto;
    display: block; }
  .image-top__content {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: inline-block; }
  .image-bottom {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: block; }
  .image-bottom__content {
    max-width: 400px;
    width: 100%;
    height: auto; }
  .items-content__image {
    max-width: 570px;
    width: 100%;
    height: auto; }
  .items-content {
    width: 100%;
    flex-direction: column;
    align-items: center; }
  .wrap {
    text-align: center;
    width: 100%; }
  .wrap__line {
    margin: 30px auto 0; }
  .buttons {
    margin: 93px auto 0; }
  .blog-wrap {
    width: 100%;
    flex-direction: column; }
  .text {
    margin: 32px auto 0; }
  .content {
    text-align: center; }
  .content__line {
    margin: 32px auto 0; }
  .bottom__button {
    margin: 67px auto 20px; }
  .content__image {
    max-width: 570px;
    width: 100%;
    height: auto; }
  .footer {
    padding: 75px 10px 80px 10px; }
  .footer__title {
    margin: 0 auto; }
  .mail {
    width: 100%;
    margin: 50px auto;
    flex-direction: column;
    align-items: center; }
  .mail__text {
    width: 80%; } }

@media (max-width: 435px) {
  .buttons {
    transform: scale(0.7, 0.7);
    width: 320px; }
  .footer__title {
    font-size: 15px; } }
