.image {
  &-top {
    display: flex;
    justify-content: space-between;
    width: 1173px;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 1173px;
  }
}