.text {
  display: flex;
  justify-content: space-between;
  width: 178px;
  margin-top: 32px;

  &__name {
    font-size: 16px;
    color: #9a9a9a;
  }

  &__line {
    height: 17px;
    width: 1px;
    border-right: 1px solid #9a9a9a;
  }
}